@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  /* Paleta de colores para el Modo Claro */
  --background: #E0E0E0;
  --foreground: #333333;
  --primary: #5B3A67;
  --primary-foreground: #FFFFFF;
  --secondary: #B49CDD;
  --secondary-foreground: #333333;
  --card: #FFFFFF;
  --card-foreground: #333333;
  --border: #B49CDD;
}

.dark {
  /* Paleta de colores para el Modo Oscuro */
  --background: #1A1A1A;
  --foreground: #E0E0E0;
  --primary: #311d38; /* Morado claro para mejor contraste */
  --primary-foreground: #1A1A1A;
  --secondary: #B49CDD;
  --secondary-foreground: #1A1A1A;
  --card: #2C2C2C;
  --card-foreground: #E0E0E0;
  --border: #9B7CD4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.section-height {
  min-height: 10vh;
}

.section-height-mobile {
  min-height: 100svh;
}

@keyframes growFromCenter {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.scroll-fade {
  transition:
    opacity 0.3s ease,
    filter 0.3s ease;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(50px);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

.animate-slide-in-left {
  animation: slideInFromLeft 0.8s ease-out forwards;
}

.animate-slide-in-right {
  animation: slideInFromRight 0.8s ease-out forwards;
}

/* Estilos para la observación de intersección */
.fade-in {
  opacity: 0;
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out,
    filter 0.8s ease-out;
}

.fade-in.visible {
  opacity: 1;
}

.slide-left.visible {
  animation: slideInFromLeft 0.8s ease-out forwards;
}

.slide-right.visible {
  animation: slideInFromRight 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease forwards;
}